<h1>Bienvenue sur notre site topeeee secreeeeettt !!!</h1>
<p>Enregistre toi pour pouvoir acceder aux dossiers secrets de la NASA</p>
<%= link_to 'Enregistre-toi', new_user_path, class: "btn btn-lg btn-primary"%>
