<h1><center><strong>REJOINS-NOUS !</strong></center></h1>
<%= form_for @user do |f| %>
  <div class='form-group'>
    <label><strong>Ton email</strong></label>
    <center><%= f.text_field :email, class: 'form-control', placeholder: 'toto@mail.com'%></center>
  </div>
  <div class='form-group'>
    <label><strong>Mot de Passe</strong></label>
    <center><%= f.text_field :password, class: 'form-control', placeholder: '*********'%></center>
  </div>
  <div class='form-group'>
    <label><strong>Confirmes ton mot de passe</strong></label>
    <center><%= f.text_field :password_confirmation, class: 'form-control', placeholder: '**********'%></center>
  </div>
  <center><button type='submit' class='btn btn-primary'><strong>Enregistrer</strong></button></center>  
<% end %>